nav {
    display: flex;
    align-items: center;
    padding: 1.5em 1em;
    gap: 1em;
    background-color: #D1E7FF;
}

#title{
    ul{
        li{
            list-style: none;
            a{
                img{
                    width: 15em;
                    height: auto;
                }
            }
        }
    }
}

/* --------------------------------------------- */
/* *การจัด Group ที่ใช้ค่า 2 id เหมือนกัน * */
 #links ul , #account ul{                   
   display: flex;
   gap: 1em;
   margin: 0;
   padding: 0;
   li {
   list-style: none;
    a {
        text-decoration: none;
        color: black;
    }
   }
}
/* ------------------------------------------------ */

#account ul img {
    width: 1.75em;
}

#search {
    flex-grow: 1;
}



#search input{
    padding: 0.6em 0.9em;
    background-color: rgb(235,235,235);
    border: 0cap;
    border-radius: 9999px;
    width: 100%;
}

